# Use k-NN model to predict worst air pollution locations on the grid

In [17]:
%matplotlib inline

from geopy.distance import distance
import pandas as pd
from time import sleep
import shapely.geometry
import pyproj
import geopandas as gpd
from matplotlib import pyplot as plt
from shapely.geometry import Point
import datetime
from datetime import date, timedelta
from os import path
import pandas as pd
import numpy as np
import statistics
import boto3
import s3fs
import sys
from fastparquet import ParquetFile
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
import geopy
from geopy import distance
import gmplot

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', 500)

In [18]:
# load in the grid from csv file
boxes = pd.read_csv('data/500m_grid.csv')

In [19]:
# load in the model from a pickle file
from joblib import dump, load
model = load('VirtualSensing/models/kNN_model.joblib')

In [20]:
# create a features dataframe
X_data_df = boxes.copy(deep=True) 
X_data_df = X_data_df[X_data_df.in_water == False]
X_data_df = X_data_df.drop(columns = ['min_lat', 'max_lat', 'min_lon', 'max_lon', 'x','y','in_water'])
X_data_df.rename(columns={'center_lat': 'lat', 'center_lon': 'lon'}, inplace=True)

# add column for time_delta for kNN model
length = len(X_data_df)
time = (pd.Timestamp('2019-09-10 00:12:00') - pd.Timestamp('2019-09-01 00:00:00')) / np.timedelta64(1, 'm')
times = [time] * length
X_data_df['time_delta'] = times

In [21]:
X_data_df

            lat         lon  time_delta
34    37.824436 -122.534739     12972.0
35    37.827984 -122.534739     12972.0
36    37.831531 -122.534739     12972.0
37    37.835079 -122.534739     12972.0
38    37.838626 -122.534739     12972.0
...         ...         ...         ...
6868  37.994537 -122.184396     12972.0
6869  37.998076 -122.184396     12972.0
6870  38.001616 -122.184396     12972.0
6871  38.005155 -122.184396     12972.0
6872  38.008694 -122.184396     12972.0

[4244 rows x 3 columns]

In [22]:
# make predictions
y_pred = model.predict(X_data_df)

In [23]:
y_pred

array([2.463125, 2.463125, 2.463125, ..., 2.463125, 2.463125, 2.463125])

In [24]:
# create a dataframe for mapping
X_data_df['pred_PM2_5'] = y_pred
X_data_df.rename(columns={'lat': 'center_lat', 'lon': 'center_lon'}, inplace=True)
map_df = pd.merge(boxes, X_data_df, on=['center_lat', 'center_lon'])
map_df.sort_values(by='pred_PM2_5', ascending=False)

,min_lat,max_lat,min_lon,max_lon,x,y,center_lat,center_lon,in_water,time_delta,pred_PM2_5
0,37.822662,37.826210,-122.536985,-122.532493,0,34,37.824436,-122.534739,False,12972.0,2.463125
2835,37.982147,37.985687,-122.262999,-122.258507,61,79,37.983917,-122.260753,False,12972.0,2.463125
2821,37.932566,37.936109,-122.262999,-122.258507,61,65,37.934338,-122.260753,False,12972.0,2.463125
2822,37.936109,37.939651,-122.262999,-122.258507,61,66,37.937880,-122.260753,False,12972.0,2.463125
2823,37.939651,37.943194,-122.262999,-122.258507,61,67,37.941423,-122.260753,False,12972.0,2.463125
...,...,...,...,...,...,...,...,...,...,...,...
1419,37.744566,37.748117,-122.402238,-122.397746,30,12,37.746342,-122.399992,False,12972.0,2.463125
1420,37.748117,37.751669,-122.402238,-122.397746,30,13,37.749893,-122.399992,False,12972.0,2.463125
1421,37.751669,37.755220,-122.402238,-122.397746,30,14,37.753444,-122.399992,False,12972.0,2.463125
1422,37.755220,37.758771,-122.402238,-122.397746,30,15,37.756996,-122.399992,False,12972.0,2.463125
4243,38.006925,38.010464,-122.186642,-122.182150,78,86,38.008694,-122.184396,False,12972.0,2.463125

In [25]:
# plot top most polluted virtual sensor locations

HOW_MANY = 10 # how many sensors to place

gmap3=gmplot.GoogleMapPlotter(map_df.center_lat.iloc[0], map_df.center_lon.iloc[0], 10, apikey = "AIzaSyA2TdrwntJVu6IuS_3fOY7WLTLvhl3xntk")
gmap3.coloricon = "http://www.googlemapsmarkers.com/v1/%s/"
for sensor in range(HOW_MANY):
    gmap3.marker(map_df.center_lat.iloc[sensor], map_df.center_lon.iloc[sensor], color='cornflowerblue', title=sensor)#, title=map_df.pred_PM2_5)
gmap3.draw("data/grid_pred_map.html")

In [8]:
%matplotlib inline

from geopy.distance import distance
import pandas as pd
from time import sleep
import shapely.geometry
import pyproj
import geopandas as gpd
from matplotlib import pyplot as plt
from shapely.geometry import Point

# libraries
import datetime
from datetime import date, timedelta
from os import path
import pandas as pd
import numpy as np
import statistics
import boto3
import s3fs
import sys
from fastparquet import ParquetFile
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
import geopy
from geopy import distance

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', 500)

In [11]:
def makeGrid():
    # Set up projections
    p_ll = pyproj.Proj(init='epsg:4283') # grid in lat/lon
    p_mt = pyproj.Proj(init='epsg:3857') # metric; same as EPSG:900913

    # Create corners of rectangle to be transformed to a grid
    MIN_LAT = 37.701933
    MAX_LAT = 38.008050
    MIN_LON = -122.536985
    MAX_LON = -122.186437
    sw = shapely.geometry.Point((MIN_LON, MIN_LAT))
    ne = shapely.geometry.Point((MAX_LON,MAX_LAT))

    stepsize = 500 # 0.5 km grid step size

    # Project corners to target projection
    s = pyproj.transform(p_ll, p_mt, sw.x, sw.y) # Transform NW point to 3857
    e = pyproj.transform(p_ll, p_mt, ne.x, ne.y) # .. same for SE

    # Iterate over 2D area
    boxes = []
    min_lon = s[0]
    x = 0
    while min_lon < e[0]:
        max_lon = min_lon + stepsize
        min_lat = s[1]
        y = 0
    
        while min_lat < e[1]:
            max_lat = min_lat + stepsize
            b_left = shapely.geometry.Point(pyproj.transform(p_mt, p_ll, min_lon, min_lat))
            t_right = shapely.geometry.Point(pyproj.transform(p_mt, p_ll, max_lon, max_lat))
        
            bound_box = {'min_lat':b_left.y, 'max_lat':t_right.y, 'min_lon':b_left.x, 'max_lon':t_right.x, 'x': x, 'y':y}
        
            boxes.append(bound_box)
            min_lat = max_lat
            y += 1
        min_lon = max_lon
        x += 1
        
    boxes = pd.DataFrame(boxes)

    # find the center of each box
    boxes['center_lat'] = (boxes.min_lat + boxes.max_lat)/2
    boxes['center_lon'] = (boxes.min_lon + boxes.max_lon)/2
    
    base = gpd.read_file("bayarea.json")
    
    # map every box to whether it overlaps with the bay as defined by the shapefile
    boxes['in_water'] = [bay_and_ocean.contains(pt) for pt in boxes_as_points]

    # convert lat/lon to Point objects
    boxes_as_points = boxes.apply(lambda line: Point(line.center_lon, line.center_lat), axis = 1)
    
    return(boxes)

In [27]:
# save grid to csv file
boxes[['min_lat', 'max_lat', 'min_lon', 'max_lon', 'x', 'y', 'center_lat',
       'center_lon', 'in_water']].to_csv("500m_grid.csv", index = False)

In [5]:
boxes.head()

,min_lat,max_lat,min_lon,max_lon,x,y,center_lat,center_lon,in_water
0,37.701933,37.705487,-122.536985,-122.532493,0,0,37.703710,-122.534739,True
1,37.705487,37.709040,-122.536985,-122.532493,0,1,37.707263,-122.534739,True
2,37.709040,37.712593,-122.536985,-122.532493,0,2,37.710817,-122.534739,True
3,37.712593,37.716147,-122.536985,-122.532493,0,3,37.714370,-122.534739,True
4,37.716147,37.719700,-122.536985,-122.532493,0,4,37.717923,-122.534739,True

In [ ]:
# create feature data at each center point of the grid
created, lat, lon, wind_data, wind_direction, wind_speed, gusts, gust_speed, variable_winds, epa_pm25_value, wkday, 
temperature, humidity, elevation, hour, month, timeofday_afternoon, timeofday_evening, timeofday_morning, timeofday_night,
daytype_Weekday, daytype_Weekend, compass_ERROR, compass_East, compass_Missing, compass_No wind, compass_North, 
compass_South, compass_West

In [9]:
# constants
sys.path.append("./HistoricalData/")
from getData import get_data

UP_LEFT = (38.008050, -122.536985)    
UP_RIGHT = (38.008050, -122.186437)   
DOWN_RIGHT = (37.701933, -122.186437) 
DOWN_LEFT = (37.701933, -122.536985)  
START_DATE = '2018/09/10' 
END_DATE = '2019/09/10'   
START_HOUR = '0'        
END_HOUR = '24'

In [10]:
# load data into dataframe
data_df = get_data(UP_LEFT, UP_RIGHT, DOWN_RIGHT, DOWN_LEFT, START_DATE, END_DATE, START_HOUR, END_HOUR, 'Monthly')

In [12]:
# add elevation data
elev_df = pd.read_csv('VirtualSensing/sensor_elevations.csv', header='infer', float_precision='high')
elev_df = elev_df.drop(columns='resolution')
data_df = pd.merge(data_df, elev_df)
print("How many elevations are missing?", data_df.elevation.isna().sum())
print("Shape of the new dataframe:", data_df.shape)

How many elevations are missing? 0
Shape of the new dataframe: (60692, 69)

In [13]:
# winnow down the features
columns_to_keep = ['created', 'lat', 'lon', 'wind_data', 'wind_direction', 'wind_speed', 'gusts', 'gust_speed', 
                   'variable_winds', 'variable_wind_info', 'epa_pm25_value', 'wkday', 
                   'daytype', 'timeofday', 'wind_compass', 'temperature', 'humidity', 'elevation', 'hour', 'month']
X_data_df = data_df[columns_to_keep]
y_data_df = data_df['2_5um']

In [14]:
X_data_df.wind_data = X_data_df.wind_data.astype(bool)
X_data_df.variable_winds = X_data_df.variable_winds.astype(bool)
X_data_df.gusts = X_data_df.gusts.astype(bool)
X_data_df.daytype = X_data_df.daytype.astype(str)
X_data_df.daytype = X_data_df.daytype.astype('category')
X_data_df.timeofday = X_data_df.timeofday.astype(str)
X_data_df.timeofday = X_data_df.timeofday.astype('category')
X_data_df.wind_compass = X_data_df.wind_compass.astype(str)
X_data_df.wind_compass = X_data_df.wind_compass.astype('category')
X_data_df.wkday = pd.to_numeric(X_data_df.wkday)
X_data_df.wkday = X_data_df.wkday.astype('category')
X_data_df.hour = X_data_df.hour.astype(int)
X_data_df.month = X_data_df.month.astype(int)

In [15]:
# handle variable winds missing values 
vrb_wind_range_readings = 0
mid_ranges = list()

for row in range(len(X_data_df)):
    if X_data_df.variable_winds.iloc[row]:
        info = X_data_df.variable_wind_info.iloc[row]
        if info:
            vrb_wind_range_readings += 1
            first, second = info.split('V')
            mid_range = int((int(first) + int(second)) / 2)
            if (X_data_df.wind_direction.iloc[row] == 'VRB'):
                X_data_df.wind_direction.lloc[row] = mid_range
            mid_ranges.append(mid_range)

replacement = statistics.mode(mid_ranges)
X_data_df = X_data_df.replace('VRB', replacement) # give variable wind the most frequent midpoint variable range
X_data_df = X_data_df.drop(columns = ['variable_wind_info'])

In [16]:
# handle missing wind values with means 
wind_direction_obs = pd.to_numeric(X_data_df.wind_direction.dropna())
wind_direction_avg = wind_direction_obs.mean()
wind_direction_avg = int(wind_direction_avg)
X_data_df.wind_direction = X_data_df.wind_direction.replace(np.nan, wind_direction_avg) # give missing wind direction the mean
X_data_df.wind_direction = X_data_df.wind_direction.replace('', wind_direction_avg)
X_data_df.wind_direction = X_data_df.wind_direction.astype(int)
wind_speed_obs = pd.to_numeric(X_data_df.wind_speed.dropna())
wind_speed_avg = wind_speed_obs.mean()
X_data_df.wind_speed = X_data_df.wind_speed.replace(np.nan, wind_speed_avg) # give missing wind speed the mean
X_data_df.wind_speed = X_data_df.wind_speed.replace('', wind_speed_avg)
X_data_df.gust_speed = X_data_df.gust_speed.replace(np.nan, 0)
X_data_df.gust_speed = X_data_df.gust_speed.replace('', 0)
X_data_df.epa_pm25_value = X_data_df.epa_pm25_value.replace(np.nan, X_data_df.epa_pm25_value.mean())
X_data_df.temperature = X_data_df.temperature.replace(np.nan, X_data_df.temperature.mean())
X_data_df.humidity = X_data_df.humidity.replace(np.nan, X_data_df.humidity.mean())

In [17]:
# one hot encode the categoricals
X_data_df = pd.concat([X_data_df,pd.get_dummies(X_data_df['timeofday'], prefix='timeofday')],axis=1)
X_data_df = pd.concat([X_data_df,pd.get_dummies(X_data_df['daytype'], prefix='daytype')], axis=1)
X_data_df = pd.concat([X_data_df,pd.get_dummies(X_data_df['wind_compass'], prefix='compass')], axis=1)

In [18]:
# remove the original columns that got one hot encoded, type the one hots as bools
X_data_df = X_data_df.drop(columns=['timeofday','daytype','wind_compass'])
X_data_df.timeofday_afternoon = X_data_df.timeofday_afternoon.astype(bool)
X_data_df.timeofday_evening = X_data_df.timeofday_evening.astype(bool)
X_data_df.timeofday_morning = X_data_df.timeofday_morning.astype(bool)
X_data_df.timeofday_night = X_data_df.timeofday_night.astype(bool)
X_data_df.daytype_Weekday = X_data_df.daytype_Weekday.astype(bool)
X_data_df.daytype_Weekend = X_data_df.daytype_Weekend.astype(bool)
X_data_df.compass_ERROR = X_data_df.compass_ERROR.astype(bool)
X_data_df.compass_East = X_data_df.compass_East.astype(bool)
X_data_df.compass_Missing = X_data_df.compass_Missing.astype(bool)
X_data_df['compass_No wind'] = X_data_df['compass_No wind'].astype(bool)
X_data_df.compass_North = X_data_df.compass_North.astype(bool)
X_data_df.compass_South = X_data_df.compass_South.astype(bool)
X_data_df.compass_West = X_data_df.compass_West.astype(bool)

AttributeError: 'DataFrame' object has no attribute 'timeofday_afternoon'

In [ ]:
# confirm no NAs at this point
for col in X_data_df.columns:
    testy = X_data_df[col]
    print(col, testy.isna().sum())