# Investigation of NOAA's wind data
[The National Oceanic and Atmospheric Administration](https://www.noaa.gov) maintains a series of weather stations called [Automated Surface Observation Systems](http://www.hurricanescience.org/science/observation/landbased/automatedsurfaceobssystems/) (ASOS). They offer one-minute and five-minute interval data at these FTP sites:
* ftp://ftp.ncdc.noaa.gov/pub/data/asos-onemin/  
* ftp://ftp.ncdc.noaa.gov/pub/data/asos-fivemin/  

The structure of the five-minute interval data is [explained in this pdf](ftp://ftp.ncdc.noaa.gov/pub/data/documentlibrary/tddoc/td6401b.pdf) from NOAA.

### Libraries and installs

In [2]:
import pandas as pd
import numpy as np 
import json
import datetime
import re
from fastparquet import write
from matplotlib import pyplot as plt 
import gmplot

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', 500)

### Data Folder Instructions

In [3]:
# Use this cell to specify the paths for the data folder in your local machines
# Use the variable 'datafolder' to specify the path
# Comment out all the data paths except your own
# NOAA data ia assumed to be in a subfolder called 'noaa' 
# For example, if the base data folder is '/users/data', noaa data should be in '/users/data/noaa'

# Angshuman's local path
datafolder = "/Users/apaul2/Documents/_Common/capstone/Project/data"

### Analyze data file structure

The records in the data files are of varying length. Neither do the columns follow a fixed position, nor are they separated by proper delimiters - if the data for a particular field is missing, the next field takes its position in the records because of which it becomes difficult to identify the correct column values. We may need to use the record length to identify patterns and use the patterns to identify the correct values for the columns.

In [216]:
# Check unique record lengths in a few files
# These files are stored in the 'sampledata' subfolder with 'noaa' folder
fileList = ['64010K0J4201908.dat', '64010PAFA201908.dat', '64010PAOT201908.dat','64010PASN201908.dat', '64010PAVL201908.dat', '64010PHTO201908.dat', '64010TJSJ201908.dat']
recLenWithFile = {'64010K0J4201908.dat':[], '64010PAFA201908.dat':[], '64010PAOT201908.dat':[],'64010PASN201908.dat':[], '64010PAVL201908.dat':[], 
                  '64010PHTO201908.dat':[], '64010TJSJ201908.dat':[]}
recLengths = []

for file in fileList:     
    filerecLengths = []
    filepath = "{}/noaa/sampledata/{}".format(datafolder, file)
    for line in pd.read_csv(filepath_or_buffer=filepath , encoding='utf-8', header=None, chunksize=1):
        data = line.iloc[0,0].split()[1]
        filerecLengths.append(data[15:18])
    recLengths.extend(list(set(filerecLengths)))
    recLenWithFile[file] = [list(set(filerecLengths)),len(filerecLengths)]

In [217]:
# recLenWithFile
for i,j in recLenWithFile.items():
    print("File {} has {} records with {} variations in record lengths".format(i, j[1], len(j[0])))

File 64010K0J4201908.dat has 6154 records with 76 variations in record lengths
File 64010PAFA201908.dat has 8896 records with 87 variations in record lengths
File 64010PAOT201908.dat has 2192 records with 66 variations in record lengths
File 64010PASN201908.dat has 132 records with 3 variations in record lengths
File 64010PAVL201908.dat has 384 records with 47 variations in record lengths
File 64010PHTO201908.dat has 8526 records with 79 variations in record lengths
File 64010TJSJ201908.dat has 8327 records with 98 variations in record lengths

In [218]:
# range of record lengths
recLengths = set(recLengths)
print(', '.join(sorted(recLengths)))

049, 072, 073, 074, 075, 078, 080, 087, 092, 094, 095, 096, 097, 098, 099, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 189, 191, 192, 193, 195, 196, 197, 200, 201, 204, 208, 212, 216

In [111]:
filepath = "ftp://ftp.ncdc.noaa.gov/pub/data/asos-fivemin/6401-2019/64010PHTO201908.dat"
lines = [] # an array of each read line
for line in pd.read_csv(filepath_or_buffer=filepath , encoding='utf-8', header=None, chunksize=1):
        lines.append(line.iloc[0,0])

In [170]:
print(lines[4342])
line = lines[4342]
# line = line.split()

21504PHTO ITO20190816015018708/16/19 01:50:31  5-MIN PHTO 161150Z AUTO 12013G16KT 5SM -RA SCT027 BKN036 OVC090 22/19 A3007 -90 81 800 110/13G16 RMK AO2 RAB48 SLP181 P0000 60001 70007 T02220189 10250 20222 51016 TSNO

### Get sample data

In [75]:
def createNOAAdf(filepath, fileName):
    """ Helper function to process ftp data"""
    print("/n********** PROCESSING {} DATA FILE **********".format(fileName))
    lines = [] # an array of each read line
    for line in pd.read_csv(filepath_or_buffer=filepath , encoding='utf-8', header=None, chunksize=1):
        lines.append(line.iloc[0,0])
#         print(lines[0])
#         break
    
    # split lines and data chunks
    data = [] # an array of arrays, inner arrays are all data for one record, outer array is all records
    for line in lines:

        # reset any variables if needed
        record = [] 
        Report_Modifier = ''
        Wind_Data = False 
        Variable_Winds = False
        Gusts = False
        Wind_Direction = ''
        Wind_Speed = ''
        Gust_Speed = ''
        Variable_Wind_Info = ''
        System_Maintenance_Reqd = False

        line = line.split() # take string of one record's data and split into space separated chunks
        WBAN_Number = line[0][0:5] # The WBAN (Weather Bureau, Army, Navy) number is a unique 5-digit number
        Call_Sign = line[0][5:] # The call sign is a location identifier, three or four characters in length 
        suffix = line[1][-2:] # grab the last two digits that are the year (i.e. 19 for 2019)
        Year = '20'+suffix # in YYYY format
        CallSign_Date = re.split(Year, line[1])
        Call_Sign2 = CallSign_Date[0] # this seems to be the same as Call_Sign but without initial letter
        Date = CallSign_Date[1]
        Month = Date[0:2] # in MM format
        Day = Date[2:4] # in DD format
        Hour = Date[4:6] # in HH format
        Minute = Date[6:8] # Observations are recorded on whole five-minute increments (i.e. 00,05,10,...,50,55)
        Record_Length = Date[8:11] # I'm not sure what this is yet - Length of record??
        Date = Date[11:] # MM/DD/YY format
        Timestamp = line[2] # in HH:MM:SS format
        Interval = line[3] # should be 5-MIN as opposed to 1-MIN
        Call_Sign3 = line[4] # for some reason, a THIRD output of the call sign. random.
        Zulu_Time = line[5] # Zulu Time, or military time, or UTC

        # after this point, data could be missing/optional and data positions are not fixed
        currIndx = 6
        try:
            Next_Data = line[currIndx]
            if not any(x in Next_Data for x in ['KT','SM']):
                Report_Modifier = Next_Data # AUTO for fully automated report, COR for correction to a previously disseminated report
                currIndx += 1
            Next_Data = line[currIndx]
            if "KT" in Next_Data:
                Wind_Data = True
                Wind_Direction = Next_Data[0:3] # in tens of degrees from true north
                if Next_Data[0:3] == 'VRB':
                    Variable_Winds = True
                Wind_Speed = int(Next_Data[3:5]) # in whole knots (two digits)
                if Next_Data[5] == 'G':
                    Gusts = True
                    Gust_Speed = int(Next_Data[6:8]) # speed in whole knots (two digits)
            else:
                Wind_Data = False
        except:
            print("OUT OF DATA AT FIELD {}".format(currIndx))
            print(line)
        finally:
            currIndx += 1

        try:
            Next_Data = line[currIndx]
            if Wind_Data:
                if (re.fullmatch(r'[0-9][0-9][0-9]V[0-9][0-9][0-9]', Next_Data)): #e.g. 180V240 = wind direction varies from 180 to 240 degrees
                    Variable_Wind_Info = Next_Data
                    Variable_Winds = True
        except:
            print("OUT OF DATA AT FIELD {}".format(currIndx))
            print(line)
            
        if line[-1] == '$':
            System_Maintenance_Reqd = True

        #Sea_Level_Pressure = line[13] # given in tenths of hectopascals (millibars). The last digits are recorded (125 means 1012.5)
        #Station_Type = line[18]
        Num_Fields = len(line)
        record = [WBAN_Number, Call_Sign, Call_Sign2, Year, Month, Day, Hour, Minute, Record_Length, Date, Timestamp, Interval, Call_Sign3, Zulu_Time, 
                  Report_Modifier, Wind_Data, Wind_Direction, Wind_Speed, Gusts, Gust_Speed, Variable_Winds, Variable_Wind_Info, System_Maintenance_Reqd, Num_Fields]
        col_names = ["wban_number", "call_sign", "call_sign2", "year", "month", "day", "hour", "minute", "rec_length", "date", "timestamp", "interval", "call_sign3", 
                     "zulu_time", "report_modifier", "wind_data", "wind_direction", "wind_speed", "gusts", "gust_speed", "variable_winds", "variable_wind_info", "sys_maint_reqd", "num_fields"]
        data.append(record)
    
    sample_df = pd.DataFrame(data, columns = col_names)
    
    # save Dataframe to file
    csvFileName = "{}/noaa/{}.csv".format(datafolder, fileName)
    sample_df.to_csv(csvFileName)
    
    return sample_df

Grab data from one station for one month.

In [76]:
filepath_K0J4 = "ftp://ftp.ncdc.noaa.gov/pub/data/asos-fivemin/6401-2019/64010K0J4201908.dat"
filepath_TJSJ = "ftp://ftp.ncdc.noaa.gov/pub/data/asos-fivemin/6401-2019/64010TJSJ201908.dat"
filepath_PHTO = "ftp://ftp.ncdc.noaa.gov/pub/data/asos-fivemin/6401-2019/64010PHTO201908.dat"

In [205]:
noaa_K0J4_df = createNOAAdf(filepath_K0J4, '64010K0J4201908')
noaa_TJSJ_df = createNOAAdf(filepath_TJSJ, '64010TJSJ201908')
noaa_PHTO_df = createNOAAdf(filepath_PHTO, '64010PHTO201908')

/n********** PROCESSING 64010K0J4201908 DATA FILE **********
OUT OF DATA AT FIELD 8
['63870K0J4', '0J420190821083504908/21/19', '08:35:31', '5-MIN', 'K0J4', '211335Z', 'AUTO', 'RVRNO']
/n********** PROCESSING 64010TJSJ201908 DATA FILE **********
/n********** PROCESSING 64010PHTO201908 DATA FILE **********

In [77]:
noaa_PHTO_df = createNOAAdf(filepath_PHTO, '64010PHTO201908')

/n********** PROCESSING 64010PHTO201908 DATA FILE **********

### Initial look at the data

In [78]:
noaa_PHTO_df.head()

,wban_number,call_sign,call_sign2,year,month,day,hour,minute,rec_length,date,timestamp,interval,call_sign3,zulu_time,report_modifier,wind_data,wind_direction,wind_speed,gusts,gust_speed,variable_winds,variable_wind_info,sys_maint_reqd,num_fields
0,21504,PHTO,ITO,2019,08,01,00,00,129,08/01/19,00:00:31,5-MIN,PHTO,011000Z,AUTO,True,230,5,False,,False,,False,22
1,21504,PHTO,ITO,2019,08,01,00,05,129,08/01/19,00:05:31,5-MIN,PHTO,011005Z,AUTO,True,240,5,False,,False,,False,22
2,21504,PHTO,ITO,2019,08,01,00,10,129,08/01/19,00:10:31,5-MIN,PHTO,011010Z,AUTO,True,240,4,False,,False,,False,22
3,21504,PHTO,ITO,2019,08,01,00,15,129,08/01/19,00:15:31,5-MIN,PHTO,011015Z,AUTO,True,250,5,False,,False,,False,22
4,21504,PHTO,ITO,2019,08,01,00,20,129,08/01/19,00:20:31,5-MIN,PHTO,011020Z,AUTO,True,250,4,False,,False,,False,22

In [79]:
# Convert data type of numeric columns
noaa_PHTO_df[['wind_speed','gust_speed']] = noaa_PHTO_df[['wind_speed','gust_speed']].apply(pd.to_numeric)

In [250]:
noaa_PHTO_df.describe()

        wind_speed  gust_speed   num_fields
count  8510.000000  161.000000  8526.000000
mean      5.331845   18.919255    20.197631
std       2.994155    3.460446     2.162815
min       0.000000   14.000000    17.000000
25%       4.000000   16.000000    18.000000
50%       5.000000   18.000000    20.000000
75%       7.000000   22.000000    21.000000
max      20.000000   26.000000    31.000000

In [251]:
noaa_PHTO_df[["wban_number", "call_sign", "call_sign2", "year", "month", "day", "hour", "minute", "rec_length", "date", "timestamp",
"interval", "zulu_time", "report_modifier", "wind_data", "wind_direction", "gusts", "variable_winds", "variable_wind_info", "sys_maint_reqd"]].describe()

,wban_number,call_sign,call_sign2,year,month,day,hour,minute,rec_length,date,timestamp,interval,zulu_time,report_modifier,wind_data,wind_direction,gusts,variable_winds,variable_wind_info,sys_maint_reqd
count,8526,8526,8526,8526,8526,8526,8526,8526,8526,8526,8526,8526,8526,8526,8526,8526,8526,8526,8526,8526
unique,1,1,1,1,1,31,25,13,80,31,288,1,8526,2,2,39,2,2,39,2
top,21504,PHTO,ITO,2019,08,29,04,30,113,08/26/19,09:15:31,5-MIN,291125Z,,True,240,False,False,,False
freq,8526,8526,8526,8526,8526,288,360,710,855,288,30,8526,1,5705,8510,912,8365,8236,8461,8085

In [80]:
gusty = noaa_PHTO_df[noaa_PHTO_df['gusts'] == True]
print("There are",len(gusty),"records with gust data.")

There are 161 records with gust data.

In [81]:
variable = noaa_PHTO_df[noaa_PHTO_df['variable_winds'] == True]
print("There are",len(variable),"records with variable wind data.")

There are 290 records with variable wind data.

In [252]:
nowinddata = noaa_PHTO_df[noaa_PHTO_df['wind_data'] == False]
missing_wind = 0
for num in list(nowinddata.index):
    print(lines[num])
    missing_wind += 1
print("There are",missing_wind,"records out of", len(lines), "without wind data.")

21504PHTO ITO20190801045513108/01/19 04:55:31  5-MIN PHTO 011455Z AUTO 1SM +RA BR SCT005 BKN017 OVC034 23/22 A2996 10 97 1000 M /M RMK AO2 P0002 T02280222 TSNO
21504PHTO ITO20190807105509608/07/19 10:55:31  5-MIN PHTO 072055Z 10SM FEW037 29/19 A3001 -40 56 1600 M /M RMK AO2 T02890194
21504PHTO ITO20190807161010308/07/19 16:10:31  5-MIN PHTO 080210Z 10SM SCT028 OVC044 28/21 A2999 -20 62 1500 M /M RMK AO2 T02830206
21504PHTO ITO20190808043010408/08/19 04:30:31  5-MIN PHTO 081430Z AUTO 10SM CLR 22/16 A2998 -10 70 800 M /M RMK AO2 T02170161 TSNO $
21504PHTO ITO20190811103010308/11/19 10:30:31  5-MIN PHTO 112030Z 10SM SCT032 SCT043 29/21 A3002 -50 60 1600 M /M RMK AO2 T02890206
21504PHTO ITO20190813124510308/13/19 12:45:31  5-MIN PHTO 132245Z 10SM FEW034 BKN050 29/19 A2998 -10 54 1700 M /M RMK AO2 T02940194
21504PHTO ITO20190813133510108/13/19 13:35:31  5-MIN PHTO 132335Z 10SM FEW033 BKN049 30/21 A2997 0 56 1800 M /M RMK AO2 T03000206
21504PHTO ITO20190815085011008/15/19 08:50:31  5-MIN PHTO 151850Z 10SM FEW024 BKN050 27/21 A3005 -70 66 1400 M /M RMK AO2 SLP174 T02720206
21504PHTO ITO20190816091509708/16/19 09:15:31  5-MIN PHTO 161915Z 10SM SCT050 28/20 A3009 -110 60 1400 M /M RMK AO2 T02830200
21504PHTO ITO20190822214010508/22/19 21:40:31  5-MIN PHTO 230740Z 10SM FEW023 SCT042 26/21 A3001 -40 76 1200 M /M RMK AO2 T02560211 $
21504PHTO ITO20190824111511008/24/19 11:15:31  5-MIN PHTO 242115Z 10SM BKN026 BKN035 OVC055 29/22 A2999 -20 62 1700 M /M RMK AO2 T02940217
21504PHTO ITO20190824143512308/24/19 14:35:31  5-MIN PHTO 250035Z 10SM SCT023 BKN040 OVC047 29/22 A2996 0 67 1600 M /M RMK AO2 RAB03E12 P0000 T02890222
21504PHTO ITO20190825102512208/25/19 10:25:31  5-MIN PHTO 252025Z 10SM FEW019 SCT034 SCT060 29/23 A3001 -40 69 1600 M /M RMK AO2 RAE02 P0001 T02890228
21504PHTO ITO20190825150509508/25/19 15:05:31  5-MIN PHTO 260105Z 10SM FEW025 30/21 A2994 20 58 1800 M /M RMK AO2 T03000211
21504PHTO ITO20190826082513108/26/19 08:25:31  5-MIN PHTO 261825Z 3SM -RA BR FEW011 BKN020 OVC027 25/22 A3000 -30 81 1200 M /M RMK AO2 PRESRR P0001 T02500217 $
21504PHTO ITO20190829113011008/29/19 11:30:31  5-MIN PHTO 292130Z 10SM SCT028 SCT044 BKN055 29/21 A2998 -10 58 1700 M /M RMK AO2 T02940206
There are 16 records out of 8526 without wind data.

In [82]:
maintreqd = noaa_PHTO_df[noaa_PHTO_df['sys_maint_reqd'] == True]
print("There are {} records from systems requiring maintenance".format(len(maintreqd)))

There are 441 records from systems requiring maintenance

In [229]:
noaa_PHTO_df.groupby('num_fields').wban_number.count()

num_fields
17       4
18    2360
19    1344
20    2031
21     745
22     743
23     433
24     390
25     307
26     103
27      36
28      16
29       4
30       8
31       2
Name: wban_number, dtype: int64

In [235]:
short = noaa_PHTO_df[noaa_PHTO_df['num_fields'] == 17]
short.replace('', np.nan).dropna(axis=1,how='all')

,wban_number,call_sign,call_sign2,year,month,day,hour,minute,mystery_prefix,date,timestamp,interval,call_sign3,zulu_time,wind_data,wind_direction,wind_speed,gusts,variable_winds,num_fields
94,21504,PHTO,ITO,2019,08,01,07,50,096,08/01/19,07:50:31,5-MIN,PHTO,011750Z,True,020,5,False,False,17
130,21504,PHTO,ITO,2019,08,01,10,50,096,08/01/19,10:50:31,5-MIN,PHTO,012050Z,True,320,9,False,False,17
2830,21504,PHTO,ITO,2019,08,10,19,50,096,08/10/19,19:50:31,5-MIN,PHTO,110550Z,True,000,0,False,False,17
7936,21504,PHTO,ITO,2019,08,28,13,50,095,08/28/19,13:50:31,5-MIN,PHTO,282350Z,True,060,10,False,False,17

In [236]:
long = noaa_PHTO_df[noaa_PHTO_df['num_fields'] >= 30]
long.replace('', np.nan).dropna(axis=1,how='all')

,wban_number,call_sign,call_sign2,year,month,day,hour,minute,mystery_prefix,date,timestamp,interval,call_sign3,zulu_time,report_modifier,wind_data,wind_direction,wind_speed,gusts,gust_speed,variable_winds,num_fields
22,21504,PHTO,ITO,2019,08,01,01,50,177,08/01/19,01:50:31,5-MIN,PHTO,011150Z,AUTO,True,240,5,False,NaN,False,30
598,21504,PHTO,ITO,2019,08,03,01,50,180,08/03/19,01:50:31,5-MIN,PHTO,031150Z,AUTO,True,200,5,False,NaN,False,30
886,21504,PHTO,ITO,2019,08,04,01,50,182,08/04/19,01:50:31,5-MIN,PHTO,041150Z,AUTO,True,000,0,False,NaN,False,31
2902,21504,PHTO,ITO,2019,08,11,01,50,182,08/11/19,01:50:31,5-MIN,PHTO,111150Z,AUTO,True,220,3,False,NaN,False,30
4054,21504,PHTO,ITO,2019,08,15,01,50,183,08/15/19,01:50:31,5-MIN,PHTO,151150Z,AUTO,True,220,4,False,NaN,False,30
4342,21504,PHTO,ITO,2019,08,16,01,50,187,08/16/19,01:50:31,5-MIN,PHTO,161150Z,AUTO,True,120,13,True,16.0,False,31
5782,21504,PHTO,ITO,2019,08,21,01,50,178,08/21/19,01:50:31,5-MIN,PHTO,211150Z,AUTO,True,000,0,False,NaN,False,30
6952,21504,PHTO,ITO,2019,08,25,03,20,166,08/25/19,03:20:31,5-MIN,PHTO,251320Z,AUTO,True,000,0,False,NaN,False,30
7222,21504,PHTO,ITO,2019,08,26,01,50,174,08/26/19,01:50:31,5-MIN,PHTO,261150Z,AUTO,True,000,0,False,NaN,False,30
7510,21504,PHTO,ITO,2019,08,27,01,50,183,08/27/19,01:50:31,5-MIN,PHTO,271150Z,AUTO,True,240,5,False,NaN,False,30

### Merge lat long data for stations
Takes a few minutes to download the station file

In [3]:
filepath = "ftp://ftp.ncdc.noaa.gov/pub/data/noaa/isd-history.txt"
stations = [] # an array of each read line
for station in pd.read_csv(filepath_or_buffer=filepath , encoding='utf-8', chunksize=1):
    stations.append(station.iloc[0,0])

In [4]:
meta_data = stations[0:16]
station_cols = stations[16]
meta_data

[' USAF = Air Force station ID. May contain a letter in the first position.',
 ' WBAN = NCDC WBAN number',
 ' CTRY = FIPS country ID',
 '   ST = State for US stations',
 ' ICAO = ICAO ID',
 '  LAT = Latitude in thousandths of decimal degrees',
 '  LON = Longitude in thousandths of decimal degrees',
 ' ELEV = Elevation in meters',
 'BEGIN = Beginning Period Of Record (YYYYMMDD). There may be reporting gaps within the P.O.R.',
 '  END = Ending Period Of Record (YYYYMMDD). There may be reporting gaps within the P.O.R.',
 'Notes:',
 '- Missing station name',
 '- The term "bogus" indicates that the station name',
 '- For a small % of the station entries in this list',
 '  available. To determine data availability for each location',
 "  'isd-inventory.txt' or 'isd-inventory.csv' file. "]

In [6]:
station_cols = station_cols.split()
station_cols

['USAF',
 'WBAN',
 'STATION',
 'NAME',
 'CTRY',
 'ST',
 'CALL',
 'LAT',
 'LON',
 'ELEV(M)',
 'BEGIN',
 'END']

In [7]:
station_cols = ['usaf','wban_number','descriptor', 'lat','lon','elev_m','begin_date','end_date']

In [8]:
stations = stations[17:] # remove header (meta data and column names)

In [9]:
station_data = [] # an array of arrays, inner arrays are all data for one record, outer array is all records
for station in stations:
    data_start = 0 # position after awk location data in each record
    USAF = station[0:6]
    WBAN = station[7:12]
    data_start = station.find('+')
    location_string = station[12:data_start]
    #station_code = re.match(r'\w\w\w\w', location_string[-6:])
    #if station_code:
    #    station_code = station_code.group(0)
    rest_of_data = station[data_start:].split()    
    station_record = [USAF, WBAN, location_string] + rest_of_data
    station_data.append(station_record)
station_df = pd.DataFrame(station_data, columns = station_cols)

In [10]:
station_df.head()

,usaf,wban_number,descriptor,lat,lon,elev_m,begin_date,end_date
0,007018,99999,WXPOD 7018,+00.000,+000.000,+7018.0,20110309,20130730
1,007026,99999,WXPOD 7026 AF,+00.000,+000.000,+7026.0,20120713,20170822
2,007070,99999,WXPOD 7070 AF,+00.000,+000.000,+7070.0,20140923,20150926
3,008260,99999,WXPOD8270,+00.000,+000.000,+0000.0,20050101,20100731
4,008268,99999,WXPOD8278 AF,+32.950,+065.567,+1156.7,20100519,20120323

In [11]:
# get rid of some useless data
station_df = station_df.drop("usaf", axis=1)

In [12]:
# Write station df to file
parquet_file = "{}/noaa/station_data.parquet".format(datafolder)
write(parquet_file, station_df,compression='GZIP')

In [4]:
# Read from file that was stored earlier
station_df = pd.read_parquet("{}/noaa/station_data.parquet".format(datafolder))

In [122]:
station_df[station_df.wban_number == '21504']

,wban_number,descriptor,lat,lon,elev_m,begin_date,end_date
25041,21504,HILO INTERNATIONAL AIRPORT US HI PHTO,+19.719,-155.053,+0011.6,19730101,20190920
25042,21504,HILO GENERAL LYMAN ARPT US HI PHTO,+19.719,-155.053,+0011.0,19430415,19451228
28925,21504,HILO INTERNATIONAL AP US HI PHTO,+19.719,-155.053,+0011.0,19491001,19721231

In [119]:
# The station dataframe has multiple records for the same wban_number based on differing elevations and descriptors.
# Create a new dataframe with unique wban_number and lat-lon values to join with the ASOS data
unique_station_df = station_df.drop(['descriptor','elev_m','begin_date','end_date'], axis=1).drop_duplicates()

In [123]:
unique_station_df[unique_station_df.wban_number == '21504']

      wban_number      lat       lon
25041       21504  +19.719  -155.053

In [124]:
merged_df = pd.merge(noaa_PHTO_df, unique_station_df, on='wban_number')

In [125]:
merged_df.head()

,wban_number,call_sign,call_sign2,year,month,day,hour,minute,rec_length,date,timestamp,interval,call_sign3,zulu_time,report_modifier,wind_data,wind_direction,wind_speed,gusts,gust_speed,variable_winds,variable_wind_info,sys_maint_reqd,num_fields,lat,lon
0,21504,PHTO,ITO,2019,08,01,00,00,129,08/01/19,00:00:31,5-MIN,PHTO,011000Z,AUTO,True,230,5.0,False,NaN,False,,False,22,+19.719,-155.053
1,21504,PHTO,ITO,2019,08,01,00,05,129,08/01/19,00:05:31,5-MIN,PHTO,011005Z,AUTO,True,240,5.0,False,NaN,False,,False,22,+19.719,-155.053
2,21504,PHTO,ITO,2019,08,01,00,10,129,08/01/19,00:10:31,5-MIN,PHTO,011010Z,AUTO,True,240,4.0,False,NaN,False,,False,22,+19.719,-155.053
3,21504,PHTO,ITO,2019,08,01,00,15,129,08/01/19,00:15:31,5-MIN,PHTO,011015Z,AUTO,True,250,5.0,False,NaN,False,,False,22,+19.719,-155.053
4,21504,PHTO,ITO,2019,08,01,00,20,129,08/01/19,00:20:31,5-MIN,PHTO,011020Z,AUTO,True,250,4.0,False,NaN,False,,False,22,+19.719,-155.053

In [128]:
station_df.wban_number.count(), unique_station_df.wban_number.count(), noaa_PHTO_df.wban_number.count(), merged_df.wban_number.count()

(29729, 26315, 8526, 8526)

In [129]:
# Write to file
# merged_df.to_csv("/Users/apaul2/Documents/_Common/capstone/Project/data/NOAA/64010PHTO201908_withloc.csv")
parquet_file = "{}/noaa/64010PHTO201908_withloc.parquet".format(datafolder)
write(parquet_file, merged_df,compression='GZIP')

In [135]:
# How many records dont have location data
print(merged_df.groupby('lat').wban_number.count(),
merged_df.groupby('lon').wban_number.count())

lat
+19.719    8526
Name: wban_number, dtype: int64 lon
-155.053    8526
Name: wban_number, dtype: int64

### Get data from all stations for a month

In [20]:
# Get full list of station codes from file
# There are 915 unique station codes
station_list = pd.read_csv("/Users/apaul2/Documents/_Common/capstone/Project/data/NOAA_Station_list.txt")

In [28]:
# ******* This cell takes close to 2 hours to run ******

lines = [] # an array of each read line
for index, row in station_list.iterrows():
    filepath = "ftp://ftp.ncdc.noaa.gov/pub/data/asos-fivemin/6401-2019/64010{}201908.dat".format(row['StationCode'])
    try:
        for line in pd.read_csv(filepath_or_buffer=filepath , encoding='utf-8', header=None, chunksize=1):
            lines.append(line.iloc[0,0])
    except:
        pass

In [31]:
print("One month of ASOS data has ",len(lines)," records coming from 911 files.")

One month of ASOS data has  7696663  records coming from 911 files.

In [69]:
# full_df = createAsosData(lines)

# Had to convert data type of following attributes to string
# need to further investigate the records with non numeric data for these fields
full_df[['gust_speed','wind_speed']] = full_df[['gust_speed','wind_speed']].astype(str)

In [70]:
parquet_file = "{}/noaa/aug_asos_data.parquet".format(datafolder)
write(parquet_file, full_df,compression='GZIP')

In [137]:
# Read from file that was stored earlier
full_df = pd.read_parquet("{}/noaa/aug_asos_data.parquet".format(datafolder))

In [138]:
merged_full_df = pd.merge(full_df, unique_station_df, on='wban_number')

In [140]:
# Write full data file with location info to disk
parquet_file = "{}/noaa/aug_asos_data_withloc.parquet".format(datafolder)
write(parquet_file, merged_full_df,compression='GZIP')

In [142]:
unique_station_df.wban_number.count(), full_df.wban_number.count(), merged_full_df.wban_number.count()

(26315, 7696663, 8237908)

### Plot where we have wind data

In [6]:
# create lat and long list from the dataframe
# stores output in an html file that you then open
# the google map will be shaded unless you've set up API key (see below)

latitude_list = []
longitude_list = []
for row in range(len(station_df)):
    try:
        lat = station_df.loc[row]['lat']
        lon = station_df.loc[row]['lon']
        if (len(lat) < 2) or (len(lon) < 2): 
            pass
        else:
            latitude_list.append(float(lat))
            longitude_list.append(float(lon))
    except:
        pass
    
# scatter points on a google map
gmap3 = gmplot.GoogleMapPlotter(latitude_list[0], longitude_list[0], 13)
gmap3.scatter(latitude_list, longitude_list, '# FF0000', 
                              size = 40, marker = False ) 
  
gmap3.draw("data/wind_map.html")

In [223]:
# Need to fix with an API key.
# https://console.cloud.google.com/google/maps-apis/new?project=composite-drive-193303&folder&organizationId
# how to get an API key:
# https://developers.google.com/maps/documentation/geocoding/get-api-key

gmap3 = gmplot.GoogleMapPlotter(latitude_list[0], longitude_list[0], 13)
gmap3.scatter(latitude_list, longitude_list, '# FF0000', 
                              size = 40, marker = False ) 
gmap3.apikey = "AIzaSyA2TdrwntJVu6IuS_3fOY7WLTLvhl3xntk" # this is Ben's key. replace with your own.
gmap3.draw("data/wind_map.html")

### Conclusions

* We'll have to figure out how best to match the once-every-5-minute data from ASOS with the variable interval PurpleAir readings. 
* There's great global coverage of wind data, but any given region in the U.S. will only have a few stations. I think that's okay -- PM2.5 can be very localized, but wind isn't all that different in the same region. But that is an assumption to check.